* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-image: url(../images/ramadan2.jpeg);
  margin: 0;
  background-size: cover;
  /* background-position: center center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  color: rgb(255, 255, 255);
}
h1 {
  font-weight: normal;
  font-size: 4rem;
  margin-top: -30rem;
}
.countdown-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.big-text {
  font-weight: bold;
  font-size: 5rem;
  line-height: 1;
  margin: 2rem 2rem;
}

.countdown-el {
  text-align: center;
}
.countdown-el span {
  font-size: 2rem;
}
/* hour */

.datetime{
  color: #fff;
  background: #10101E;
  font-family: "segoe UI", sans-serif;
  width: 30%;
  height: 20%;
  padding: 15px 10px;
  margin-top: 35%;
  border: 3px solid #2E94E3;
  border-radius: 5px;
  -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(255,255,255,0.1));
  position: absolute;
}

.datetime:hover{
  background: #2E94E3;
  box-shadow: 0 0 30px #2E94E3;
}

.date{
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}
.time{
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time span:not(:last-child){
  position: relative;
  margin: 25px 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}
.time span:last-child{
  background: #2E94E3;
  font-size: 39px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: px;
  padding: 0 5px;
  border-radius: 3px;
}

/* media */
@media screen and (width: 3440px) {

  @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
  body {
    /* background-image: url(../images/moon.jpg); */
    font-family: 'Indie Flower', cursive;
  }
  .countdown-el {
    color: rgb(56, 119, 213);
  }
  .datetime{
    margin-top: 20%;
    background: none;
    border: none;
    width: 40%;
    height: 25%;
    padding-top: 1%;
    font-family: 'Indie Flower', cursive;
  }
  .date{
    font-size: 90px;
    font-weight: 600;
    color: rgb(0, 0, 0);
  }
  .time{
    font-size: 90px;
    color: black;
  }
  .datetime:hover{
    background: none;
    box-shadow: 0 0 0;
  }
}
@media screen and (max-width: 850px) {
  body {
    background-image: url(../images/phonemoon.jpg);
    padding-top: 70%;
  }
  .countdown-el {
    color: rgb(56, 119, 213);
    }
    .datetime{
      color: #fff;
      width: 80%;
      position: absolute;
      bottom: 15%;
    }
    .date{
      font-size: 20px;
      font-weight: 600;
    }
    .time{
      font-size: 28px;
    }
    h1 {
      font-weight: normal;
      font-size: 2rem;
      margin-top: -35rem;
    }
}
